h1 {
    font-size: 45px;
    text-align: center;
    background-color: #b2190e;
    border:solid #191923 3px;
    color: #feeaf3;
}
h2 {
    font-size: 30px;
    text-align:center;
    text-decoration: underline;
}
body {
    background-color: white;

}
p{
    text-align:center;
    text-decoration:underline;
    font-size:25px;
}
ul {
    font-size: 20px;
    text-align:center;
}
button {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 849px;
}
#itemPics {
    display: flex;
    justify-content: center;
}
img {
    width:300px;
    height:300px;
}