h1 {
    font-size: 45px;
    text-align: center;
    background-color: #b2190e;
    border:solid #191923 3px;
    color: #feeaf3;
}
h2 {
    font-size: 30px;
    text-align:center;
    text-decoration: underline;
}
body {
    background-color: white;

}
#resultsContainer {
    display:flex;
    justify-content: center;
    margin: 15px auto;
}
p{
    text-align:center;
    text-decoration:underline;
    font-size:25px;
}
ul {
    font-size: 20px;
    text-align:center;
}
button {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 850px;
}
#itemPics {
    margin-top: 15px;
    display: flex;
    justify-content: space-evenly;
}
#leftItem {
    border: solid rgba(128, 128, 128, 0.372) ;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
    text-align: center;
}
#midItem {
    border: solid rgba(128, 128, 128, 0.372) ;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
    text-align: center;
}
#rightItem {
    border: solid rgba(128, 128, 128, 0.372) ;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
    text-align: center;
}
img {
    width:300px;
    height:300px;
    
}